{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    {% block title %}<title>{{section}}</title>{% endblock %}
    <link rel="stylesheet" href="{% static "music_search/css/style.css" %}" type="text/css">
</head>
<body>
    <section>
        {% block table-header %}
            <h1 class="table-name">Compousers data list</h1>
        {% endblock %}
        {% block create_button %}
            <a href="{% url 'music_search:create_compouser' %}" class="button" >Create Compouser</a>
        {% endblock %}
        {% block excel_button %}
            <form action="" method = "GET"> 
                {% csrf_token %}
                <a href="{% url 'music_search:excel_compouser' %}" class="button" download>Get Excel</a>
            </form>
        {% endblock %}
        {% block up_excel_button %}
        <div class="upload-excel-button-wrapper">
            <form action={% url 'music_search:post_excel_compouser' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="button-upload">Upload</button>
                <input type="file" name="excel-file" id="excel-file" class="inputfile">
                <label for="excel-file">Choose a file</label>
            </form>
        </div>
        {% endblock %}
        {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}
        {% if compousers_list %}
        {% block table %}
        <table class="db-table">
            {% block header %}
            <thead>
                <tr>
                {% for key in header %}
                    {% if key == "birth_date" %}
                        <th>
                            {{'birth date'}}
                        </th>
                    {% elif key == "death_date" %}
                        <th>
                            {{'death date'}}
                        </th>
                    {% else %}
                        <th>
                            {{key}}
                        </th>
                    {% endif %}
                {% endfor %}
                    <th>
                        action
                    </th>
                </tr>
            </thead>
            {% endblock %}

            {% block content %}
            <tbody>
                {% for compouser in content_compousers %}
                    <tr>
                        {% for k, v in compouser.items %}
                            {% if not forloop.last %}
                            <td>
                                {{v}}
                            </td> 
                            {% else %}
                            {% endif %}
                        {% endfor %}
                        <td class ="db-table__action">
                            <ul class = "db-table__action-list">
                                <li>
                                    <a href="{% url 'music_search:detail_compouser' compouser.id  %}">
                                        Detail
                                    </a>
                                </li>   
                                <li>
                                    <a href="{% url 'music_search:edit_compouser' compouser.id %}">
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'music_search:delete_compouser' compouser.id %}">
                                        Delete
                                    </a>
                                    
                                </li>
                            </ul> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endblock %}    
        </table>
        <div id="chart-container">{{ chart_compousers|safe }}</div>
        {% endblock %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </section>
</body>
</html>