{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "music_search/css/style.css" %}"  type="text/css">
    <title>Edit</title>
</head>
<body>
    <header>
        <div class="header">
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="/">Dolce Music</a> 
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h1>Edit</h1>
                <form method="post">
                    {% csrf_token %}
                    {% block from_edit %}
                    {{ form }}
                    {% endblock %}
                    <input type="submit" value="OK">
                </form>
            </div>
        </section>
    </main>
</body>
</html> 