{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "music_search/css/style.css" %}"  type="text/css">
    <title>Edit</title>
</head>
<body>
    {% block head %}
    <header>
        <div class="header">
            <nav class="header-nav">
                <ul class="header-nav__items">
                    <li class="header-nav__item">
                        <a class="home" href="/">Dolce Music</a> 
                    </li>
                    <li class="header-nav__item">
                        <a href="{% url 'music_search:period' %}">Periods</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="{% url 'music_search:compouser' %}">Compousers</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="{% url 'music_search:music' %}">Music</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock %}
    <main>
        <section>
            <div>
                {% block header %}

                  <h1>Edit</h1>

                {% endblock %}
                {% block from_edit %}
                <form method="post" novalidate>
                    {% csrf_token %}
                  
                    {% for hidden_field in form.hidden_fields %}
                      {{ hidden_field }}
                    {% endfor %}
                    
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  
                    {% for field in form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                  
                        {% if form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                  
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
                  
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                {% endblock %}
            </div>
        </section>
    </main>
</body>
</html> 