html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

header {
	position: fixed;
	background-color: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	width: 100%;
	z-index: 2;
}



ul {
	margin: 0;
	list-style-type: none;
}

ul a {
	color: #333333;
	text-decoration: none;
	background-color: none;
	text-align: center;
}

li {
	display: inline;
}

.audio__items{
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sheet__items{
	padding: 0;
}

/* music detail */

.detail-items{
	font-family: 'Roboto';
}

.parts__items{
	padding: 0;
}

.header {
	display: flex;
	flex-direction: column;
	padding: 0;
	height: 50px;
}

.header-nav .header-nav__items {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	vertical-align: middle;
}

.header-nav__item {
	padding-left: 10px;
}

.header-nav a.home {
	text-decoration: none;
	font-family: 'Mr Dafoe', cursive;
	font-size: xx-large;
}

.header-nav a.home:hover {
	color: #333333;
}

.header-nav a:hover{
	color: #333333;
	text-decoration: none;
}

.header-nav a {
	font-family: 'Montserrat', sans-serif;
}

.section-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(219, 228, 238);
	z-index: 0;
}

section {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding: 70px 150px 100px 150px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
	z-index: 1;
}

a.button {
	display: block;
	width: max-content;
	height: 25px;
	background: #333333;
	padding: 10px;
	text-decoration: none;
	line-height: 25px;
	border-radius: 5px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

a.button:hover {
	background-color: #ffffff;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	border: 3px  #333333;
}

.features-buttons{
	padding: 0;
}

.button{
	margin-top: 10px;
	margin-bottom: 10px;
}

.upload-excel-button-wrapper{
	position: relative;
  	overflow: hidden;
  	display: inline-block;
}

.button-upload{
	border: 2px solid #333333;
  	color: #333333;
  	background-color: white;
  	padding: 5px;
  	border-radius: 8px;
  	font-size: 1rem;
  	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label{
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background-color: #333333;
	display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover{
	background-color: red;
}

.inputfile:focus + label{
	outline: 1px dotted #000000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + lable{
	cursor: pointer;
}

.table-name {
	font-family: 'Roboto';
	font-size: 2em;
}

.db-table {
	border-radius: 5px;
	border-collapse: collapse;
	margin: 25px 0;
	width: 100%;
	table-layout: fixed;
	font-size: 1.5em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.db-table thead tr {
	color: #333333;
	text-align: center;
	font-family: 'Roboto';
	font-weight: bold;
}

.db-table th,
.db-table td {
	padding: 12px 15px;
}

.db-table tbody tr {
	font-family: 'Roboto';
	color: #333333;
}

.db-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.db-table tbody tr:last-of-type {
	border-bottom: 2px solid #333333;
}

.db-table .db-table__action {
	text-align: center;
}

.db-table__action-list {
	padding: 0;
}

@media screen and (min-width : 600px){
	.header{
		flex-direction: row;
		justify-content: space-between;
	}

	nav{
		align-self: center;
		margin: 0 5em 0 0;
	}

	.header-log__items{
		padding: 0;
	}

	.header-log__item{
		padding: 0;
	}
}